# ——————————————————————————————————————————————————————
# Logs et fichiers de debug
# ——————————————————————————————————————————————————————
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*

# ——————————————————————————————————————————————————————
# Fichiers temporaires
# ——————————————————————————————————————————————————————
*.tmp

# ——————————————————————————————————————————————————————
# Répertoires générés par Nuxt et builds
# ——————————————————————————————————————————————————————
.nuxt/
.output/
dist/

# ——————————————————————————————————————————————————————
# Couverture de tests
# ——————————————————————————————————————————————————————
coverage/

# ——————————————————————————————————————————————————————
# Dépendances
# ——————————————————————————————————————————————————————
node_modules/

# ——————————————————————————————————————————————————————
# Systèmes d’exploitation et éditeurs
# ——————————————————————————————————————————————————————
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace
*.sublime-project

# ——————————————————————————————————————————————————————
# Vite
# ——————————————————————————————————————————————————————
.vite/

# ——————————————————————————————————————————————————————
# Fichiers potentiels de cache
# ——————————————————————————————————————————————————————
.eslintcache
.stylelintcache
.prettiercache
*.tsbuildinfo

# ——————————————————————————————————————————————————————
# Environnements (variables sensibles)
# ——————————————————————————————————————————————————————
.env
.env.*
.env.local

# ——————————————————————————————————————————————————————
# Cypress : sorties (screenshots, vidéos, rapports)
# ——————————————————————————————————————————————————————
cypress/screenshots/
cypress/videos/
cypress/reports/
