# ——————————————————————————————————————————————————————
# Logs et fichiers de debug
# ——————————————————————————————————————————————————————
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*

# ——————————————————————————————————————————————————————
# Systèmes d’exploitation et éditeurs
# ——————————————————————————————————————————————————————
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ——————————————————————————————————————————————————————
# Dépendances et build
# ——————————————————————————————————————————————————————
node_modules/
dist/
coverage/

# ——————————————————————————————————————————————————————
# Vite
# ——————————————————————————————————————————————————————
.vite/

# ——————————————————————————————————————————————————————
# Fichiers potentiels de cache
# ——————————————————————————————————————————————————————
.eslintcache
.stylelintcache
.prettiercache
*.tsbuildinfo

# ——————————————————————————————————————————————————————
# Environnements (variables sensibles)
# ——————————————————————————————————————————————————————
.env
.env.* 
.env.local

# ——————————————————————————————————————————————————————
# Cypress : sorties (screenshots, vidéos, rapports)
# ——————————————————————————————————————————————————————
cypress/screenshots/
cypress/videos/
cypress/reports/
